<% if signed_in? %>
  <div class="row">
    <aside class="span8">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <!-- <section>
        <%= render 'shared/user_info' %>
      </section> -->
      <section>
        <%= render 'shared/stats' %>
      </section>
      <!-- <section>
        <%= render 'shared/micropost_form' %>
      </section> -->
    </aside>
    <div class="span4">
      <h3>Your all Mini Twitter Messages</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the ISE App</h1>

    <h2>
      Mini Twitter, Much Fun!
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large" %>
  </div>

  <%= link_to image_tag("cmu_icon.png", alt: "CMU"), 'http://cmu.edu/' %>
<% end %> 